body {
  background-color:#acad97;
}
p {
  color: black;
}
h1 {
  color: #b11818;
  font-weight: bold;
  font-family:fantasy;
  
}

h2{
  color: #aa2727;
  font-weight: bold;
  font-family:fantasy;
}

h3{
  color: #ab2727;
  font-weight: bold;
  font-family:fantasy;
  
}
p{
  font-family: arial;
}
img{
  float: right;
  width: 200px;
  height:200px;
}
